html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(10, 10, 9);
    color: aliceblue;
}


.couleurnav {

    background-color: rgb(65, 65, 63);
}

/*Couleur police de la navbar*/
.nav-link {
    color: rgb(42, 241, 15);
}

.logo1 {
    height: 100px;
}

h3 {
    text-align: center;
}


/*Image principale*/
.img1 {
    display: flex;
    height: 300px;
    width: 100%;
    background-image: url("../../src/img/bg2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

/* Image Catégorie /Dimension et arrondi*/
.img2 {
    /*height: 20em;*/
    height: 300px;
    width: 100%;
    border-radius: 10%;
    /* Image Catégorie /Contour*/
    /*float: left;*/
    box-shadow: -4px 4px 0 1px rgb(145, 147, 145);
    object-fit: cover;
}

.img2:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.06s ease-in-out;
}



/* Image Plats /Dimension et arrondi*/
.img3 {
    height: 15em;
    width: 100%;
    border-radius: 20%;
    /* Image Plats /Contour*/
    float: right;
    box-shadow: -4px 4px 0 1px rgb(68, 70, 70);
    object-fit: cover;

}

.img3:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.06s ease-in-out;
}




/* Bouton Catégorie (Salade/Sandwich...)*/
.plat1 {
    display: flex;
    align-items: center;
    color: black;
    background-color: #eaedee;
    border-radius: 20%;
    height: 50px;
    justify-content: center;
    top: 10px;
    /* Bouton Catégorie /Contour*/
    float: right;
    box-shadow: -4px 4px 0 1px rgb(88, 86, 88);
}

/* Bouton Suivant et Précédent de la page categorie */
.button {
    background: #b0e0eb;
    border-radius: 8px;
    box-shadow: 4px -4px #c5e0e6;
    padding: 20px 45px;
    color: #131414;
    display: inline-block;
    font: normal bold 11px/1 "Open Sans", sans-serif;
    text-align: center;
}




/* Récupération des plats page commande */

.tailleimg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50px;
}

.fondplat {
    background: linear-gradient(145deg, rgba(115, 72, 42, 1) 0%, rgba(162, 81, 48, 1) 100%);
    border: 1px solid black;
    padding: 30px;
    border-radius: 20px;
}

.fond-connexion {
    padding: 30px;
    border-radius: 20px;
}

.commandes-form {
    background-color: #2cced2;
    margin-top: 10px;
}

/* Background login */
.commandes-form1 {
    background-color: rgba(115, 72, 42, 1);
    margin-top: 10px;
    border-radius: 20px;
}


.commander {
    /*background-color: #524A3A;*/
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
}

.txta {
    border: none;
    width: 25%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: "Advent Pro", sans-serif;
    border-radius: 8px;
    height: 70;
}





/* Formulaire page commande */

.mailtel2,
.tel,
.nameprenom {
    border: none;
    padding: 15px 10px;
    margin: 5px 0;

    font-size: 1.2em;
    border-radius: 7px;
}

.adr {
    display: flex;
    align-items: center;
    border: none;

    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: "Advent Pro", sans-serif;
    border-radius: 20px;
}


/* Couleur texte du LOGIN */
h2 {
    color: whitesmoke;
}

#premierTrait {
    height: 1px;
    width: 75%;
    background-color: #b0e98a;
    margin: 60px auto;
}

#deuxiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #da0aed;
}

#troisiemeTrait {
    height: 1px;
    width: 75%;
    background-color: #da0aed;
}



.cpte {
    border-radius: 8px;
    width: 60px;
}

.container {
    display: flex;
    align-items: center;
}

.text {
    flex: 1 1 auto;
    text-align: left;
}

.buttonbtn {
    margin-top: 10px;
}

.btnenvoyer {
    font-size: 1.5em;
    background-color: #FFFAE1;
    border-radius: 10%;
    height: 30px;
    width: 48%;
}

.btnenvoyer:hover {
    background-color: #767474ea;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#copyrightEtIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: rgb(7, 26, 234);
}

/* Réseaux Sociaux */
.fab {
    position: relative;
    margin: 0 20px;
    font-size: 3rem;
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    display: inline-block;
    border-radius: 25px;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
}

.btn-nav:hover {
    transform: scale(1.2);
    border-radius: 5px 50px 5px;
}

i {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: rgb(8, 124, 150);
    transition: 0.2s ease-in-out;
}

.btn-nav:hover i {
    color: aliceblue;
    animation: bounce 0.5s ease-in-out;
}


.fab.fa-youtube:hover {
    color: red;
}

.fab.fa-twitter:hover {
    color: rgb(0, 172, 238);
}

.fab.fa-facebook:hover {
    color: rgb(25, 119, 243);
}


.fab.fa-instagram:hover {
    color: orangered;
}

ul {
    list-style: none;
}

ul li {
    margin-left: 10px;
}

.login-fond {
    background-image: url("../../src/img/bg3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-text {
    color: #95E0FA;
}

